.header {
    position: relative;
    z-index: 11;
    background-color: white;
    min-height: 72px;
}

.custome-btn {
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}

.header .navbar-toggler {
    border: none;
    width: 54px;
    height: 38px;
}

.header .close-item {
    width: 1em;
    height: 1em;
    /* display: inline-block;
    vertical-align: middle; */
}

.header .navbar-toggler:focus {
    box-shadow: none;
}

.header .nav-link {
    position: relative;
    /* border-bottom: 4px solid transparent; */
    padding-top: 24px;
    padding-bottom: 24px;
}

.header .nav-link::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 0%;
    height: 4px;
    background-image: linear-gradient(0.25turn, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    transition: 0.3s;
}

.header .nav-link:hover {
    color: hsl(233, 26%, 24%);
}

.header .nav-link:hover::after {
    width: 85%;
}

@media (max-width: 991px) {
    .header .navbar-collapse {
        position: absolute;
        background-color: white;
        border-radius: 5px;
        left: 50%;
        top: 90px;
        transform: translateX(-50%);
        width: 87.5%;
    }

    .header .navbar-nav {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}